.themeHeading{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.themeHeadingRtl{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-right: 0.5em;
}

.themeHeadingMn{
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
}



.themeTextBlock{
    font-size: 1em;
    white-space: pre-wrap;
}

.themeTextBlockRtl{
    font-size: 1em;
    direction: rtl;
}



.themeComponent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.themeComponentHeader{
    flex-grow: 0;
    margin: 12px;
}

.themeComponentBody{
    flex: 1;
    overflow: auto;
    margin: 12px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.themeComponentFooter{
    flex-grow: 0;
    margin: 0.7em;
    margin-top: 0.3em;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.themeComponentPrimary{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(190,242,229,1) 42%, rgba(197,231,241,0.41) 93.6% );
    color: black;
}

.themeComponentSubHeader{
    padding: 0;
    margin: 0;
}



.themeButton{
    display: inline-flex;
    flex-direction: row;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
    height: 36px;
    background: white;
    color: black;
}

.themeButton:hover{
    background: #eeeeee;
}

.themeButtonText{
    display: inline-block;
    font-size: 13px;
}

.themeButtonGhost{
    background: none;
    box-shadow: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #2F855A;
}

.themeButtonGhost:hover{
    background: #F0FFF4;
}

.themeButtonGhost.themeButtonTiny{
    color: rgb(92, 90, 90);
}

.themeButtonPrimary{
    color: white;
    background: linear-gradient(to right, #38A169, #48BB78);
    border: none;
}

.themeButtonPrimary:hover{
    background: linear-gradient(to right, #2F855A, #38A169);
}

.themeButtonDenseScript{
    word-break: keep-all;
}

.themeButtonEmbedLeft{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.themeButtonEmbedMiddle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.themeButtonEmbedRight{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.themeButtonTiny{
    height: 24px;
    font-size: 12px;
}

/* MIT License adamgiebl (Adam Giebl) https://uiverse.io/adamgiebl/shaggy-grasshopper-91 */
.themeButtonTiny.themeButtonPrimary{
    background: #48BB78 ;
    background: linear-gradient(
        0deg,
        #48BB78 0%,
        #68D391 100%
    );
    box-shadow: 0 0.1em 0.5em -0.2em #2F855A;
}

.themeButtonTiny.themeButtonPrimary:hover{
    box-shadow: none;
}



.themeSwitch{
    color: #38A169;
}



.themeMessageCard{
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.themeMessageCardHeader{
    align-items: center;
    display: flex;
    gap: 16px;
}

.themeMessageCardHeader.user{
    flex-direction: row-reverse;
}

.themeMessageCardBody{
    display: flex;
    padding: 8px;
    user-select:text;
}

.themeMessageCardBody.user{
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
}

.themeMessageCardBodyItem{
    
}

.themeMessageCardBodyItem.user{
    padding: 8px;
    border-radius: 12px;
    background: #48BB78;
    color: white;
}

.themeMessageCardBodyItem.assistant{
    padding: 8px;
    border-radius: 12px;
    background: #EDF2F7;
}



.themeModal{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    max-height: 80%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.themeModalHeader{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.themeModalTitle{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    font-weight: bold;
    font-size: 1.1em;
}

.themeModalClose{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 32px;
}

.themeModalBody{
    overflow: auto;
    flex-grow: 0;
    width: 100%;
    padding: 2em;
}

.themeModalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 99;
}